    /** Gravity Forms */

.gform_wrapper {
    form {
        margin-bottom: 0;
    }
    ul {
        @extend .list-unstyled;
    }
    li {
        @extend .form-group;
    }
    .gfield_required {
        padding-left: 1px;
        color: $danger;
    }
    .button {
        @extend .btn;
        @extend .btn-primary;
    }
    .gfield_description {
        @extend .small;
        @extend .text-muted;
    }
    .gform_validation_container  {
                  @extend .d-none;
                }
}
// Spinner
        .gform_ajax_spinner {
            margin-left: 20px;
            border: 4px solid rgba($primary, 0.3);
            border-left: 4px solid $primary;
            animation: spinner 1.1s infinite linear;
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }
        @keyframes spinner {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

.gform_wrapper input[type="email"],
.gform_wrapper input[type="date"],
.gform_wrapper input[type="datetime"],
.gform_wrapper input[type="datetime-local"],
.gform_wrapper input[type="month"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="search"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="time"],
.gform_wrapper input[type="week"],
.gform_wrapper input[type="url"],
.gform_wrapper select,
.gform_wrapper textarea {
    @extend .form-control;
}

.gform_wrapper .gform_wrapper .gfield_error {
    .gfield_label {
        @extend .alert-danger;
    }
    input,
    select,
    textarea {
        @extend .alert-danger;
    }
}

.validation_error {
    @extend .alert;
    @extend .alert-danger;
}

.validation_message {
    display: none;
}
// Big Blocks
        .big-blocks {
            margin: 0.4em 0;
            .ginput_container_radio {
                li {
                    margin: 0.2em 0;
                    float: none;
                    width: 100%;
                    input[type=radio] {
                        display: none;
                        &+label {
                            @extend .btn;
                            @extend .btn-secondary;
                            @extend .btn-lg;
                            @extend .btn-block;
                            margin-bottom: 0;
                            text-align: left;
                            cursor: pointer;
                            white-space: normal!important;
                            .small {
                                margin-bottom: 0;
                            }
                        }
                        &:checked+label {
                            @extend .btn-primary;
                        }
                    }
                }
            }
        }
// Chosen
///
        // Chosen
        //
        select.gfield_select + .chosen-container.chosen-container-single .chosen-single {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555;
            vertical-align: middle;
            background-color: #fff;
            border: 1px solid #ccc;
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            background-image: none;
        }
        
        select.gfield_select + .chosen-container.chosen-container-single .chosen-single div {
            top: 4px;
            color: #000;
        }
        
        select.gfield_select + .chosen-container .chosen-drop {
            background-color: #FFF;
            border: 1px solid #CCC;
            border: 1px solid rgba(0, 0, 0, 0.15);
            margin: -1px 0 0;
            height: 20vh;
            overflow-y: scroll;
        }
        
        select.gfield_select + .chosen-container .chosen-search input[type=text] {
            display: block;
            width: 100%;
            padding: 6px 12px;
            color: #555;
            vertical-align: middle;
            background-color: #FFF;
            border: 1px solid #CCC;
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            background-image: none;
        }
        
        select.gfield_select + .chosen-container .chosen-results {
            margin: 2px 0 0;
            padding: 5px 0;
            font-size: 14px;
            list-style: none;
            background-color: #fff;
            margin-bottom: 5px;
        }
        
        select.gfield_select + .chosen-container .chosen-results li,
        select.gfield_select + .chosen-container .chosen-results li.active-result {
            display: block;
            margin-bottom: 0;
            white-space: nowrap;
            background-image: none;
            padding: .8em 1.2em;
            @include transition(all 0.5s ease);
        }
        
        select.gfield_select + .chosen-container .chosen-results li:hover,
        select.gfield_select + .chosen-container .chosen-results li.active-result:hover,
        select.gfield_select + .chosen-container .chosen-results li.highlighted {
            cursor: pointer;
            color: $white;
            background-color: $purple;
            background-image: none;
        }
        
        select.gfield_select + .chosen-container-multi .chosen-choices {
            display: block;
            width: 100%;
            min-height: 34px;
            padding: 6px;
            color: #555;
            vertical-align: middle;
            background-color: #FFF;
            border: 1px solid #CCC;
            background-image: none;
        }
        
        select.gfield_select + .chosen-container-multi .chosen-choices li.search-field {
            margin-bottom: 0;
            display: inline-block;
            margin-left: 0.5em;
            width: auto;
            input[type="text"] {
                height: auto;
                padding: 5px 0;
                border: none;
            }
        }
        
        select.gfield_select + .chosen-container-multi .chosen-choices li.search-choice {
            @extend .badge;
            @extend .badge-warning;
            font-size: 0.8rem;
            margin: 0.15rem;
            padding: 0.6rem;
            padding-right: 1.6rem;
            position: relative;
        }
        
        select.gfield_select + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
            position: absolute;
            top: 0.6rem;
            right: 0.6rem;
            width: 1rem;
            color: lighten($orange, 30);
            height: 1rem;
            display: block;
            cursor: pointer;
            &:before {
                content: "\f00d";
                font-family: 'FontAwesome';
            }
        }
        
        select.gfield_select + .chosen-container-multi.chosen-container-active .chosen-choices,
        select.gfield_select + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
        select.gfield_select + .chosen-container .chosen-search input[type=text]:focus {
            border-color: #66AFE9;
            outline: 0;
        }
        
        select.gfield_select + .chosen-container-multi .chosen-results li.result-selected {
            display: list-item;
            color: #ccc;
            cursor: default;
            background-color: white;
        }
// Basic signup form
.form-basic {
    position: relative;
    .gform_ajax_spinner {
        position: absolute;
        left: 50%;
    }
    .gform_wrapper {
        padding: inherit;
        border: none;
        margin: 1.25rem auto;
        .gform_body {
            .gform_fields {
                margin: 0 -15px;
                li.gfield {
                    .ginput_complex .name_first {
                        flex: unset;
                        max-width: 100%;
                        input {
                            width: 100%
                        }
                    }
                    width: 50%!important;
                    margin: 0;
                    padding: 0 15px;
                    &.gf_right_half {
                        padding-left: 0;
                        padding-right: 30px
                    }
                    &.gf_left_half {
                        padding-right: 7.5px;
                    }
                }
            }
        }
        .gform_button {
            @extend .btn-danger;
        }
        form {
            @extend .form-inline;
            label {
                @extend .sr-only;
            }
            input {
                display: inline-block
            }
        }
        @include media-breakpoint-down(sm) {
            .gform_wrapper {
                .gform_body {
                    width: 100%;
                    .gform_fields {
                        li.gfield {
                            width: 100%!important;
                            margin-bottom: 1.25em;
                            padding: 0 15px!important;
                        }
                    }
                }
            }
        }
    }}